apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ctfd.fullname" . }}
  labels:
    {{- include "ctfd.labels" . | nindent 4 }}
spec:
  {{- if not .Values.ctfd.autoscaling.enabled }}
  replicas: {{ .Values.ctfd.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ctfd.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.ctfd.updateStrategy.maxSurge }}
      maxUnavailable: {{ .Values.ctfd.updateStrategy.maxUnavailable }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      {{- with .Values.ctfd.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ctfd.labels" . | nindent 8 }}
        {{- with .Values.ctfd.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.ctfd.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ctfd.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.ctfd.securityContext | nindent 12 }}
          image: "{{ .Values.ctfd.image.repository }}:{{ .Values.ctfd.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.ctfd.image.pullPolicy }}
          envFrom:
          - secretRef:
              name: {{ include "ctfd.fullname" . }}
          - configMapRef:
              name: {{ include "ctfd.fullname" . }}
          ports:
            - name: http
              containerPort: {{ .Values.ctfd.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.ctfd.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.ctfd.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.ctfd.resources | nindent 12 }}
          volumeMounts:
          {{- if and .Values.ctfd.uploadprovider.filesystem.enabled }}
            - name: uploads
              mountPath: {{ .Values.ctfd.uploadprovider.filesystem.upload_folder }}
          {{- end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
      initContainers:
        - name: ctfd-init-logs-permissions
          image: busybox:1.28
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "chown -R 1001:1001 /opt/CTFd/logs"]
      {{- if and .Values.ctfd.uploadprovider.filesystem.enabled }}
        - name: ctfd-init-uploads-permissions
          image: busybox:1.28
          imagePullPolicy: IfNotPresent
          command: ["sh", "-c", "chown -R 1001:1001 {{ .Values.ctfd.uploadprovider.filesystem.upload_folder }}"]
          volumeMounts:
            - name: uploads
              mountPath: {{ .Values.ctfd.uploadprovider.filesystem.upload_folder -}}
      {{- end }} 
      volumes:
      {{- if and .Values.ctfd.uploadprovider.filesystem.enabled }}
        - name: uploads
          persistentVolumeClaim:
            claimName: {{ include "ctfd.fullname" . }}-uploads
      {{ end }}
      {{- with .Values.ctfd.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ctfd.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ctfd.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
