apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ctfd.fullname" . }}
  labels:
    {{- include "ctfd.labels" . | nindent 4 }}
spec:
  {{- if not .Values.ctfd.autoscaling.enabled }}
  replicas: {{ .Values.ctfd.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "ctfd.selectorLabels" . | nindent 6 }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: {{ .Values.ctfd.updateStrategy.maxSurge }}
      maxUnavailable: {{ .Values.ctfd.updateStrategy.maxUnavailable }}
  template:
    metadata:
      annotations:
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      {{- with .Values.ctfd.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "ctfd.labels" . | nindent 8 }}
        {{- with .Values.ctfd.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.ctfd.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "ctfd.serviceAccountName" . }}
      {{- with .Values.ctfd.podSecurityContext}}
      securityContext:
        {{- toYaml .Values.ctfd.podSecurityContext | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.ctfd.securityContext | nindent 12 }}
          image: "{{ .Values.ctfd.image.repository }}:{{ .Values.ctfd.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.ctfd.image.pullPolicy }}
          envFrom:
          - secretRef:
              name: {{ include "ctfd.fullname" . }}
          env: 
            {{- .Values.ctfd.env | toYaml | nindent 12 }}
            {{- if and (not .Values.minio.enabled) .Values.ctfd.uploadprovider.s3.secretRef.name }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.ctfd.uploadprovider.s3.secretRef.name }}
                  key: {{ .Values.ctfd.uploadprovider.s3.secretRef.idKey }}
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef: 
                  name: {{ .Values.ctfd.uploadprovider.s3.secretRef.name }}
                  key: {{ .Values.ctfd.uploadprovider.s3.secretRef.secretKey }}
            {{- end }}
            {{- if .Values.minio.enabled }}
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ .Release.Name }}-minio
                  key: rootUser
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef: 
                  name: {{ .Release.Name }}-minio
                  key: rootPassword
            {{- end }}
            {{- if (index .Values "mariadb-galera").external.secretRef.name }}
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: {{ (index .Values "mariadb-galera").external.secretRef.name }}
                  key: {{ (index .Values "mariadb-galera").external.secretRef.databaseUrlKey }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.ctfd.service.port }}
              protocol: TCP
          livenessProbe:
            {{- toYaml .Values.ctfd.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.ctfd.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.ctfd.resources | nindent 12 }}
          {{- with .Values.ctfd.volumeMounts }}
          volumeMounts:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      {{- with .Values.ctfd.initContainers }}
      initContainers:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ctfd.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ctfd.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ctfd.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.ctfd.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
