name: Lint and server-side dry-run

on: 
  push:
    branches:
      - main
    paths:
      - 'templates/**'
      - 'values.yaml'
      - 'Chart.yaml'
  pull_request:
    branches:
      - main
    paths:
      - 'templates/**'
      - 'values.yaml'
      - 'Chart.yaml'

permissions:
  contents: read

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v4.2.0
        with:
          version: v3.14.4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.6.1
        
      - name: Run chart-testing (lint)
        run: |
          ct lint --chart-dirs . --charts . --validate-maintainers=false

      - name: Create kind cluster
        uses: helm/kind-action@v1.10.0

      - name: Run chart-testing (install)
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo add seaweedfs https://seaweedfs.github.io/seaweedfs/helm
          helm repo update
          helm template ctfd . -f values.yaml | kubectl create --dry-run=server -f -